# -- Ignoring tex related file extensions
*.aux

*.bbl

*.bcf

*.blg

*.fdb_latexmk

*.fls

*.idx

*.ilg

*.ind

*.out

*.lof

*.log

*.synctex*

*.toc

*.xml

*SAVE-ERROR


# -- Only main pdf will be saved
*.pdf

!*_main.pdf

# -- We do want pdf pictures to be included
!*/pictures/*.pdf

relativity/code/Calculations.nb

# -- Ignore copies of gwheadline files
gwheadline*

*template.txt

# -- gnuplot intermediate files
*.gnuplot

*.table
